@page
@model IndexModel
@{
    // Server-side rendering
    ViewData["Title"] = "Home pag..e";
}

    <div class="text-center">
        @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewData["Products"],
Newtonsoft.Json.Formatting.Indented))

    </div>
